.lanDhcpClientListTable
{
	width: 700px;
}

.lanDhcpClientConfTable
{
	width: 300px;
}

.lanClientListTable
{
	width: 500px;
}

.lanAddClientTable
{
	width: 300px;
}

.lanVlanSettingsInfoTable
{
	width: 300px;
}

.lanVlanPortConfigurationTable
{
	width: 900px;
}